.container{
    width: 100%;
    
}

.container table{
    border-collapse: collapse;
    width: 100%;
}

.container th, td{
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

